<div class="center">
  <h1 style="color: white"><%= t(:'Вход')%></h1>
    <%= form_tag url_for(controller: :sessions, action: :create), method: 'post' do %>
      <table>
        <tr>
          <td><%= label_tag t(:'Name') %></td>
          <td><%= text_field_tag :name %></td>
        </tr>
        <tr>
          <td><%= label_tag t(:'password') %></td>
          <td><%= password_field_tag 'password' %></td>
        </tr>
      </table>
      <%= submit_tag t(:'Логин') %>
    <% end %>
    <br/>
    <%= form_tag url_for(controller: 'users', action: 'new'), :method => 'get' do %>
      <%= submit_tag t(:'Создать пользователя') %>
    <% end %>

  <br/>
  <%= form_tag({}, {:method => :get}) do %>
    <%= select_tag :new_locale, options_for_select(I18n.available_locales, I18n.locale), :onchange => "this.form.submit();" %>

  <% end %>
</div>
